@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One');

.main h1 {
  text-align: center;
  font-family: 'Pathway Gothic One';
  font-size: 8em;
  letter-spacing: 2px;
  margin-top: 10vh;
  color: black;
}

.main h2 {
  text-align: center;
  font-family: 'Pathway Gothic One';
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #666;
}

.main h3 {
  text-align: center;
  font-family: 'Pathway Gothic One';
  font-size: 1.3em;
  letter-spacing: 2px;
  color: #999;
}

.main h4 {
  text-align: center;
  font-family: 'Pathway Gothic One';
  padding-top: 10px;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.main button {
  font-family: 'Pathway Gothic One';
  letter-spacing: 2px;
  font-size: 1.1em;
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 35px;
}

.main button:hover {
  background-color: #222;
}

@media (min-width: 768px) {
  .main h2 {
    font-size: 2em;
  }
}